@page
@model OutOfOffice.Pages.Project.IndexModel

@{
    ViewData["Title"] = "Index";
    // SelectList types = (SelectList)ViewData["ProjectTypes"];
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input hidden type="text" name="sortOrder" value="@Model.CurrentSort" />
            ID
            <input type="text" name="idFilter" value="@Model.IdSearch" />
            Project Manager
            <input type="text" name="managerSearch" value="@Model.ProjectManagerFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            @* <a asp-page="./Index">Back to full List</a> *@
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-idSearch="@Model.IdSearch" asp-route-managerSearch="@Model.ProjectManagerFilter" asp-route-sortOrder="@Model.IDSort">
                    @Html.DisplayNameFor(model => model.Project[0].ID)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-idSearch="@Model.IdSearch" asp-route-managerSearch="@Model.ProjectManagerFilter" asp-route-sortOrder="@Model.ProjectTypeSort">
                    @Html.DisplayNameFor(model => model.Project[0].ProjectType)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-idSearch="@Model.IdSearch" asp-route-managerSearch="@Model.ProjectManagerFilter" asp-route-sortOrder="@Model.ProjectManagerSort">
                    @Html.DisplayNameFor(model => model.Project[0].ProjectManager)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-idSearch="@Model.IdSearch" asp-route-managerSearch="@Model.ProjectManagerFilter" asp-route-sortOrder="@Model.StartDateSort">
                    @Html.DisplayNameFor(model => model.Project[0].StartDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-idSearch="@Model.IdSearch" asp-route-managerSearch="@Model.ProjectManagerFilter" asp-route-sortOrder="@Model.EndDateSort">
                    @Html.DisplayNameFor(model => model.Project[0].EndDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-idSearch="@Model.IdSearch" asp-route-managerSearch="@Model.ProjectManagerFilter" asp-route-sortOrder="@Model.CommentSort">
                    @Html.DisplayNameFor(model => model.Project[0].Comment)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-idSearch="@Model.IdSearch" asp-route-managerSearch="@Model.ProjectManagerFilter" asp-route-sortOrder="@Model.StatusSort">
                    @Html.DisplayNameFor(model => model.Project[0].Status)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManager.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
